<div class="jumbotron jumbo-content bg-light">

    <% if logged_in? %>
        <h2>
        Something in mind @<%= current_user.username %>?
        </h2>
        <hr class="my-4">
        <p>Share with us!</p>
        <%= link_to 'New Idea', '/ideas/new', class: 'btn btn-secondary' %>
    <% else %>
        <h2>Hello, world!</h2>
        <p class="lead">This is a simple web application where users are able to manage their ideas.</p>
        <hr class="my-4">
        <p><b>Not a member yet?</b> Join us today!</p>
        <%= link_to 'Sign Up', '/users/new', class: 'btn btn-secondary' %>
    <% end %>

</div>