<div class="card my-4">
    <h4 class="card-header">Edit Idea</h4>
    <div class="content-section">
        <%= simple_form_for @idea do |f| %>
            <%= f.input :title %>
            <%= f.input :content %>
            <%= f.submit :Submit, class: 'btn btn-secondary' %>
        <% end %>
    </div>
</div>