<div class="content-section">
    <div class="row idea-metadata">
        <div class="col-sm">
            <h2>Ideas Home</h2>
        </div>
        <div class="col-sm mr-auto">
            <%= link_to 'Create', new_idea_path(@idea), class: 'btn btn-light mr-auto' %>
        </div>
    </div>

    <br>
    <% @ideas.each do |idea| %>
    <div class="card idea-metadata">
        <div class="card-body">
            <p><%= User.find_by(id: idea.user_id).username %></p>
            <h4 class="card-title"><%= link_to idea.title, idea %></h4>
            <p class="card-text"><%= idea.content %></p>
        </div>
    </div>
    <% end %>
</div>