<h1>Hi <%= @user.username %>,</h1>
    <p>
        We have received your password change request,
        please click on the following link to proceed.
    </p>
    <%= link_to 'Restore your password here', edit_password_url(@user.reset_password_token) %>
    <p>Kind regards,</p>
    <p>AppIdeas Team</p>
    