<h1>Welcome to AppIdeas, <%= @user.username %></h1>
  <p>
    You have successfully signed up to AppIdeas, where you
    are able to manage your own ideas and see the ones from others!
  </p>
<p>Thanks for joining and enjoy!</p>