/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
    padding-top: 56px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444444;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.jumbo-content {
    margin-bottom: 20px;
    margin-top: 20px;
}

.content-section {
    padding: 10px 20px;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.content-title {
    color: #444444;
    border-bottom: 1px solid #e3e3e3
}

.idea-content {
    white-space: pre-line;
}

.idea-metadata {
    padding-bottom: 1px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e3e3e3
}